// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$blue: #009bb8; 

$brand-primary: $blue;

.footer-color{
	background-color: $brand-primary;
}